[Unit]
Description=Renew Vorken wildcard HTTPS certificate
Wants=network-online.target
After=network-online.target docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/vorken-certificate
